.first {
    h1 {
        color: $mint;
    }
    @extend %first;
    .districts {
        background: $mint;
    }
}
.second {
    h1 {
        color: $pink;
    }
    @extend %second;
    .districts {
        background: $pink;
    }
}