// Categories
.categories {
    h2 {
        @extend %linear-background;
    }
    .first {
        @extend %first;
    }
    .second {
        @extend %second;
    }
    .category-item {
        img {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
        a {
            color: #fff;
        }
        
        h5 {
            height: 3rem;
            padding: 0.2rem;
        }
    }
}

// Category Entries
.entries {
    .entry-item {
        img {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
        a {
            color: #fff;
        }
    }
}