.main-image {
    height: 500px;
    object-fit: cover;
}

h3 {
    h3 {
        font-weight: normal;
        font-size: 2rem;
    }
}

.entry.first {
    @extend %first;
    h1 {
        background: $mint;
        color: #fff;
    }
    .contact-form {
        .btn {
            background: $mint;
            border-radius: 0;
            padding: 1rem;
            font-size: 1.2rem;
        }
    }
    .contact {
        .fas,
        .far {
            color: $mint;
        }
        font-size: 1.4rem;
        a {
            color: $mint;
        }
    }
}

.entry.second {
    @extend %second;
    h1 {
        background: $pink;
        color: #fff;
    }
    .contact-form {
        .btn {
            background: $pink;
            border-radius: 0;
            padding: 1rem;
            font-size: 1.2rem;
        }
    }
    .contact {
        .fas,
        .far {
            color: $pink;
        }
        font-size: 1.4rem;
        a {
            color: $pink;
        }
    }
}

.contact-form-title {
    h3 {
        // font-weight: normal;
        // font-size: 2rem;
        // margin-bottom: -.5rem;
        // background: linear-gradient( to right, #fff 23%, #fff 34%, $roz 34%, $roz 45%, $galazio 45%, $galazio 56%, $kitrino 56%, $kitrino 67%, $mov 67%, $mov 78%, $bez 78%, $bez 89%, $mint 89%, $mint 100%, $gri 100%);
    }
}

.form-name {
    @extend %contact-form-fields;
    input {
        background: $roz;
    }
}

.form-email {
    @extend %contact-form-fields;
    input {
        background: $galazio;
    }
}

.form-phone {
    @extend %contact-form-fields;
    input {
        background: $kitrino;
    }
}

.form-message {
    @extend %contact-form-fields;
    textarea {
        background: $mov;
    }
}

.photos {
    .my-gallery {
        column-count: 6;
        border: 2px solid $pink;
        padding: 1rem;
    }
}