.latest {
    h2 {
        background: linear-gradient(
            to right,
            #fff 10%,
            #fff 38%,
            $roz 38%,
            $roz 47%,
            $galazio 47%,
            $galazio 56%,
            $kitrino 56%,
            $kitrino 65%,
            $mov 65%,
            $mov 74%,
            $bez 74%,
            $bez 83%,
            $mint 83%,
            $mint 91%,
            $gri 91%,
            $gri 100%
        );
        font-size: 3rem;
        color: $bez;
    }

    .entry-item {
        img {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
        a {
            color: #fff;
        }
    }

    .first {
        @extend %first;
    }
    .second {
        @extend %second;
    }
}
