@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');


body {
    background-color: #fff;
    font-size: 1.2rem;
    font-family: 'Didact Gothic', sans-serif;
}

.container {
    max-width: 95%;
}

img {
    max-width: 100%;
}

a {
    color: $mintDark;
    &:hover {
        color: $mint;
        text-decoration: none;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(176,216,204, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header-strip {
    height: 10px;
    background: $mint;
}

.social {
    margin: 1rem 0 0;
    .social-item {
        width: 35px;
        height: 35px;
        text-align: center;
        border-radius: 50%;     
    }
    .facebook {
        background-color: $pink;
    }
    .instagram {
        background-color: $mint;
    }
    .pinterest {
        background-color: $yellow;
    }
}

.breadcrumb {
    background-color: $mint;
    padding: 0.1rem 0.5rem;
    font-size: .9rem;
    .breadcrumb-item {
        a {
            color: #fff;
        }
        &:before {
            color: #fff;
        }
    }
}

#footer {
    ul {
        list-style: none;
        li {
            text-align: center;
            a {
                color: $black;
            }
        }
    }
    .footer-a {
        background-color: $mint;
        h3 {
            color: #fff;
        }
    }

    .footer-b {
        background-color: $pink;
        h3 {
            color: #fff;
        }
    }

    .footer-c {
        position: relative;
        background-color: $kitrino;
        h3 {
            color: $grey;
        }
        .signature {
            position: relative;
            bottom: 0px;
            left: 0;
            right: 0;
        }
    }
}