@media only screen and (max-width: 560px) {
    // HomePage Images
    .homeImages {
        .homeImage {
            width: 150px;
            height: 150px;
        }
    }
    // Categories
    .categories {
        h2 {
            background: linear-gradient(
                to right,
                #fff 0%,
                #fff 37%,
                $roz 48%,
                $galazio 55%,
                $kitrino 64%,
                $mov 73%,
                $bez 82%,
                $mint
            );
            font-size: 1.9rem;
        }
    }

    // Latest
    .latest {
        h2 {
            background: linear-gradient(
                to right,
                #fff 0%,
                #fff 57%,
                $roz 70%,
                $galazio 85%,
                $kitrino 100%,
       
            );
            font-size: 1.9rem;
        }
    }

    // Entries
    .main-image {
        object-fit: contain;
        height: auto;
        margin-bottom: 2rem;
    }
    .contact-info {
        margin-bottom: 2.5rem;
    }
    .contact-form-title {
        h3 {
            background: none;
            font-size: 1.9rem;
        }
    }
    .photos {
        .my-gallery {
            column-count: 1;
        }
    }
}
