// Home Images
.homeImages {
    .homeImage {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
}

// Welcome
.welcome {
    h1 {
        color: $mint;
    }
}

// Request Contact Form
.request {
    h3 {
        color: $mintDark;
        font-size: 1.8rem;
    }
    .btn-mint {
        background-color: $mint;
        border-radius: 0;
        padding: 1rem;
        font-size: 1.4rem;
        color: #fff;
        &:hover {
            border-radius: 5px;
            box-shadow: 1px 1px #333;
        }
    }
}

