// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'alegreya sans',
sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
p {
    margin-bottom: .5rem;
}

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
// $pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$mint: #b0d8cc; //rgb(176,216,204)
$mintDark: #98c0b4;
$black: #000002;
$grey: #666a6d;
$roz: #fef1f2; //rgb(254, 241, 242)
$pink: #ed9ab6; //rgb(237, 154, 182)
// $galazio: #e9f6; //rgb(233, 246, 246)
$galazio: #ebf6fa; //rgb(235,246,250)
$kitrino: #f4f5c9; //rgb(244, 245, 201)
$mov:#d9cae3; //rgb(217, 202, 227)
$gri: #a7a9ac; //rgb(167, 169, 172)
$bez: #e7cca0; //231, 204, 160
%first {
    h2 {
        color: $mintDark;
    }
    h5 {
        background: $mint;
    }
    .breadcrumb {
        background-color: $mint;
    }
}

%second {
    h2 {
        color: $pink;
    }
    h5 {
        background: $pink;
    }
    .breadcrumb {
        background-color: $pink;
    }
}

%linear-background {
    background: linear-gradient( to right, #fff 10%, #fff 16%, $roz 16%, $roz 28%, $galazio 28%, $galazio 40%, $kitrino 40%, $kitrino 52%, $mov 52%, $mov 64%, $bez 64%, $bez 76%, $mint 76%, $mint 88%, $gri 88%);
    font-size: 3rem;
}

%contact-form-fields {
    label {
        font-size: 1rem;
        color: $pink;
    }
    input {
        height: calc(1.6em + 1.5rem + 2px);
        border: 0;
    }
}